html, body {
    background-color: #202020;
}

.no-transitions, .no-transitions * {
    transition: none !important;
}

@font-face {
  font-family: 'Sora';
  /* Point to your asset folder. Vite handles these relative paths during build */
  src: url('./assets/fonts/Sora-VariableFont_wght.ttf') format('truetype');
  /* Crucial: tell the browser this font supports all weights from 100 to 900 */
  font-weight: 100 900; 
  font-style: normal;
  font-display: swap; /* Improves perceived loading performance */
}